{# PAGE USED TO LOG A USER IN #}

{% extends "auth/popup.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block CSS %}
    <link rel="stylesheet" type="text/css" href="../../static/css/login.css"/>
{% endblock %}

{% block form %}
    <h5 class="text-center" style="color: #252525">Login!</h5>
    <hr>
    <br>
    <form method="post" role="form" novalidate>
        {{ form.hidden_tag() }}
        <div style="color: #484848">
            {{ wtf.form_errors(form, hiddens="only") }}
            {{ wtf.form_field(form.username) }}
            {{ wtf.form_field(form.password) }}
        </div>
        {{ wtf.form_field(form.submit, class="btn btn-lg btn-info btn-block") }}
        <hr class="my-4">
        <p class="text-center" style="color: #252525">New User? <a href="{{ url_for("auth.signup") }}">Create
            Account</a></p>
    </form>
{% endblock %}
