{% extends "parent_template.html" %}

{% block popup %}
    {# USE HTML TO CREATE POPUP HERE #}
    {# WHICH MEANS DELETE THE MODAL HTML FROM THE OTHER FILES #}
    <div class="container">
      <button type="button" class="btn btn-info btn-round" data-toggle="modal" data-target="#loginModal">
        Login
      </button>
    </div>


    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header border-bottom-0">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            {% block form %}
            {% endblock %}

          </div>
        </div>
      </div>
    </div>

{% endblock %}

{% block JS %}
    {# PLEASE STOP USING "../../".  It can cause issues with flask! #}
    <script src="{{ url_for('static', filename='Javascript/login_modal.js') }}"></script>
{% endblock %}
