{# PAGE USED TO REGISTER ACCOUNT #}

{% extends "parent_template.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block CSS %}
    <link rel="stylesheet" type="text/css" href="../../static/css/login.css"/>
{% endblock %}

{% block app_content %}

    <body>
    <form method="post" role="form" novalidate>
        {{ form.hidden_tag() }}
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                    <div style="background-color: whitesmoke" class="card card-signin my-5">
                        <div class="card-body">
                            <h5 style="color: #252525" class="card-title text-center">Sign Up</h5>
                            <div style="color: #484848">
                                {{ wtf.form_errors(form, hiddens="only") }}
                                {{ wtf.form_field(form.fname) }}
                                {{ wtf.form_field(form.lname) }}
                                {{ wtf.form_field(form.username) }}
                                {{ wtf.form_field(form.password) }}
                            </div>
                            {{ wtf.form_field(form.submit, class="btn btn-lg btn-primary btn-block") }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </body>

{% endblock %}
