<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>

<!-- Setting background image -->
<body style="background-image: url('/static/images/backgroundSite1.jpg');background-repeat: no-repeat;background-size: cover;">
{% extends "template.html" %}
{% block content %}

<!-- Initializing header -->
<h1 style="border: 2px solid; border-color:black; color:white;">Stargazer</h1>
<img src="/static/images/darksky_api_example.jpg" alt="Dark Sky" style="width:1250px;height:500px;">

{% endblock %}

</body>
</html>