{# PARENT TEMPLATE #}
{% extends 'base_template.html' %}

{% block navbar %}

    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('home') }}">Stargazer</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-test"
                    aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-collapse-test">
                {# CREATES DESIRED BUTTONS #}
                {# links is a dictionary with link:name pair, where "link" is the name of the view function in routes.py #}
                <div class="navbar-nav mr-auto">
                    {% for link in links %}
                        {% if link != 'login' and link != 'logout' and link != 'account' %}
                            {% if title == links[link] %}
                                <a class="nav-item nav-link active" href="{{ url_for(link) }}">{{ links[link] }}<span
                                        class="sr-only">(current)</span></a>
                            {% else %}
                                <a class="nav-item nav-link" href="{{ url_for(link) }}">{{ links[link] }}</a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="navbar-nav">
                    {% for link in links %}
                        {% if link == 'login' or link == 'logout' or link == 'account' %}
                            {% if title == links[link] %}
                                <a class="nav-item nav-link active" href="{{ url_for(link) }}">{{ links[link] }}<span
                                        class="sr-only">(current)</span></a>
                            {% elif (link == 'login' and current_user.is_anonymous) or ((link == 'logout' or link == 'account') and current_user.is_authenticated) %}
                                <a class="nav-item nav-link" href="{{ url_for(link) }}">{{ links[link] }}</a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </nav>

{% endblock %}

{% block content %}
    <div class="jumbotron text-white" style="background-color: #031526">
        {# Used to display flashed messages from routes.py. No real use except for debugging and error handling #}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {# Block for child templates to insert their code in #}
        {% block app_content %} {% endblock %}
    </div>
    {# Script to maintain scroll position #}
    <script src="{{ url_for('static', filename='Javascript/maintain_scroll.js') }}"></script>

    {# javascript block #}
    {% block JS %}
    {% endblock %}
{% endblock %}


