{# PARENT TEMPLATE #}
{% extends 'base_template.html' %}

{% block navbar %}

    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">

        <a class="navbar-brand" href="{{ url_for('home') }}">Stargazer</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-test"
                aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-collapse-test">
            {# CREATES DESIRED BUTTONS #}
            {# links is a dictionary with link:name pair, where "link" is the name of the view function in routes.py #}
            <div class="navbar-nav mr-auto">
                {% for link in links %}
                    {% if link != 'login' and link != 'logout' and link != 'account' and link != 'profile' %}
                        {% if title == links[link] %}
                            <a class="nav-item nav-link active" href="{{ url_for(link) }}">{{ links[link] }}<span
                                    class="sr-only">(current)</span></a>
                        {% else %}
                            <a class="nav-item nav-link" href="{{ url_for(link) }}">{{ links[link] }}</a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="navbar-nav">
                {% for link in links %}
                    {% if link == 'login' or link == 'logout' or link == 'account' or link == 'profile' %}
                        {% if (link == 'login' and current_user.is_anonymous) or (link == 'profile' and current_user.is_authenticated) %}
                            {% if link != 'profile' %}
                                <a class="nav-item nav-link" href="{{ url_for(link) }}">{{ links[link] }}</a>
                            {% else %}
                                {# dropdown menu for profile button #}
                                <div class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{ current_user.fname }} {{ current_user.lname }}
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item"
                                           href="{{ url_for('profile', username=current_user.username) }}">Profile</a>
                                        <a class="dropdown-item" href="{{ url_for('account') }}">Account Settings</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
                                    </div>
                                </div>

                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </nav>

{% endblock %}

{% block content %}
    <div class="jumbotron text-white" style="background-color: #031526">
        {# Used to display flashed messages from routes.py. No real use except for debugging and error handling #}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {# Block for child templates to insert their code in #}
        {% block app_content %} {% endblock %}
    </div>

    <!-- Footer -->
    <footer class="page-footer font-small unique-color-dark pt-4">

      <!-- Footer Elements -->
      <div class="container">

        <!-- Call to action -->
        <ul class="list-unstyled list-inline text-center py-2">
          <li class="list-inline-item">
            <h5 class="mb-1" style="color: darkgray">Don't have an account?</h5>
          </li>
          <li class="list-inline-item">
            <a href="{{ url_for("signup") }}" class="btn btn-outline-primary btn-rounded waves-effect">Sign up!</a>
          </li>
        </ul>
        <!-- Call to action -->

      </div>
      <!-- Footer Elements -->

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3" style="color: dimgray">© 2020 Copyright:
        <a href="https://mdbootstrap.com/"> Team UNTITLED</a>
      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->
    {# Script to maintain scroll position #}
    <script src="{{ url_for('static', filename='Javascript/maintain_scroll.js') }}"></script>

    {# javascript block #}
    {% block JS %}
    {% endblock %}
{% endblock %}


