{# PAGE USED TO REGISTER ACCOUNT #}

{% extends "parent_template.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1 class="text-white">Register</h1>
    <div class="jumbotron"
         style="background-image: url('{{ url_for("static", filename="images/backgroundSite1.jpg") }}');-webkit-background-size: cover;
                 -moz-background-size: cover; background-size: cover; -o-background-size: cover; color:white">
        <div class="row">
            <div class="col-md-4 text-white">
                {{ wtf.quick_form(form) }}
            </div>
        </div>
    </div>

{% endblock %}