{# PAGE USED TO REGISTER ACCOUNT #}

{% extends "parent_template.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block CSS %}
    <link rel="stylesheet" type="text/css" href="../static/css/login.css"/>
{% endblock %}

{% block app_content %}

    <body>
      <div class="container">
        <div class="row">
          <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div style="background-color: whitesmoke" class="card card-signin my-5">
              <div class="card-body">
                <h5 style="color: #252525" class="card-title text-center">Sign In</h5>
                    <div class="form-label-group" style="color: #484848">
                        {{ wtf.quick_form(form, form_type=inline) }}
                    </div>
                  <hr class="my-4">

              </div>
            </div>
          </div>
        </div>
      </div>
    </body>

    <h1 class="text-white">Register</h1>
    <div class="jumbotron"
         style="background-image: url('{{ url_for("static", filename="images/backgroundSite1.jpg") }}');-webkit-background-size: cover;
                 -moz-background-size: cover; background-size: cover; -o-background-size: cover; color:white">
        <div class="row">
            <div class="col-md-4 text-white">
                {{ wtf.quick_form(form) }}
            </div>
        </div>
    </div>

{% endblock %}
