{# HOME PAGE #}

{% extends "template.html" %}

{% block content %}
    <h1 style="border: 2px solid; border-color:black; color:white;">Stargazer</h1>
    <div style="color: white; background: #100a2c">
        <p>
            Last Updated: {{ weather.date_stored.strftime('%A, %b %d @ %I:%M:%S %p') }}
            <a style="color: white" href="{{ url_for("update") }}">update</a>
        </p>
        <p>Sunrise: {{ weather.sunrise.strftime('%I:%M %p') }} </p>
        <p>Sunset: {{ weather.sunset.strftime('%I:%M %p') }} </p>
        <p>Temperature: {{ weather.temp }} &#176;F</p>
        <p>Moon Phase: {{ weather.m_phase }}</p>
        <p>Cloud Coverage: {{ weather.clouds }} %</p>
        <p>Winds: {{ weather.wind }} mph</p>
        <p>Wind Direction: {{ weather.wind_dir }}&#176;</p>
        <p>Visibility: {{ weather.vis }} miles</p>
        <p>Current Condition: {{ weather.current }}</p>
    </div>
    <img src="{{ url_for('static',  filename='images/darksky_api_example.jpg') }}" style="width:1250px; height:500px;">

{% endblock %}
