{# HOME PAGE #}

{% extends "template.html" %}

{% block content %}

   {# <h1 style="border: 2px solid; border-color:black; color:white;">Stargazer</h1>
    <p>Sunset: {{ sunset }}</p>
    <p>Surise: {{ sunrise }}</p>
    <p>temp: {{ temp }}</p>
    <p>m_phase: {{ m_phase }}</p>
    <p>clouds: {{ clouds }}</p>
    <p>winds: {{ winds }}</p>
    <p>wind_dir: {{ wind_dir }}</p>
    <p>vis: {{ vis }}</p>
    <p>current: {{ current }}</p>#}
    <img src="{{ url_for('static',  filename='images/darksky_api_example.jpg') }}" style="width:1250px; height:500px;">

{% endblock %}
