{# PAGE USED TO REGISTER ACCOUNT #}

{% extends "template.html" %}
{% block content %}

    <h1 style="color: white">Register</h1>
    <form action="" method="post" style="color: white" novalidate>
        {{ form.hidden_tag() }}
        <p>
        {{ form.fname.label }}<br>
        {{ form.fname(size=32) }}
        </p>

        <p>
        {{ form.lname.label }}<br>
        {{ form.lname(size=32) }}
        </p>

        <p>
        {{ form.username.label }}<br>
        {{ form.username(size=32)}}
        </p>

        <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}
        </p>

        <p>
        {{ form.password_confirm.label }}<br>
        {{ form.password_confirm(size=32) }}
        </p>

        <p>{{ form.submit() }}</p>
    </form>

{% endblock %}