{# USED TO DISPLAY IMAGES IN DATABASE #}

{% extends "parent_template.html" %}


{% block app_content %}

    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
            <li data-target="#demo" data-slide-to="3"></li>
            <li data-target="#demo" data-slide-to="4"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="container">
                <h3 class="text-white text-center">Featured Images</h3>
                {% for image in images %}
                    {% if loop.index == 1 %}
                        <div class="carousel-item active">
                    {% else %}
                        <div class="carousel-item">
                    {% endif %}
                <img src="{{ url_for('static', filename=image.image_url) }}" alt="{{ loop.index }}"
                     style="margin-left:60px; width:1000px; height:600px"
                     class="img-fluid shadow-small p-1 mb-2 bg-danger">
                <div class="carousel-caption">
                    <p>{{ image.image_name }}</p>
                </div>
                </div>
                {% endfor %}
                </div>
            </div>
            <!-- Left and right controls -->
            <a class="carousel-control-prev" data-slide="prev" href="#demo">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" data-slide="next" href="#demo">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>

    <br>
    <h3 class="text-white text-center">Image Gallery</h3>
    <hr style="background-color: white">
    <br>

    {% for i in range(0, num_imgs, 4) %}
        <div class="clearfix">
            {% for x in range(4) %}
                {% if (x+i) < num_imgs %}
                    <img src="{{ url_for('static', filename=images[x+i].image_url) }}" alt="Responsive image"
                         class="rounded float-left shadow-small p-1 mx-5 bg-white"
                         style="width:250px; height:152px">
                {% endif %}
            {% endfor %}
        </div>

        {% for x in range(4) %}
            {% if (x+i) < num_imgs %}
                {# Like and Unlike Button #}
                {% if current_user.is_authenticated %}
                    {% with left_margin = 47 %}
                        {% if current_user.has_liked_image(images[x+i]) %}
                            {# Unike Button #}
                            <a class="btn btn-light btn-outline-secondary text-dark"
                               href="{{ url_for('like_action', image_id=images[x+i].id, action="dislike") }}"
                               role="button" style="position:absolute; left:{{ (299 * x) + (1+x) * left_margin }}px">
                                Unlike
                            </a>
                        {% else %}
                            {# Like Button #}
                            <a class="btn btn-light btn-outline-secondary text-dark"
                               href="{{ url_for('like_action', image_id=images[x+i].id, action="like") }}"
                               role="button" style="position:absolute; left:{{ (299 * x) + (1+x) * left_margin }}px">
                                Like
                            </a>
                        {% endif %}
                    {% endwith %}
                {% endif %}

                {# Like counter #}
                <strong class="text-white" style="position: absolute; left:{{ (99 * x) + (1 + x) * 247 }}px">
                    {{ images[x+i].likes.count() }} Likes
                </strong>

            {% endif %}
        {% endfor %}
        <br>
        <br>
        <br>

    {% endfor %}
{% endblock %}
