{# PAGE USED TO LOG A USER IN #}

{% extends "template.html" %}

{% block css %}
{#    <link rel="stylesheet" href="{{ url_for('static',  filename='css/forms.css') }}">#}
{% endblock %}

{% block content %}

    <h1 style="color: white">Sign in</h1>
    <form action="" method="post" style="color: white" novalidate >
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
             {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me.label }} {{ form.remember_me() }}</p>
        <p>
            {{ form.submit() }}
            Don't have an account?
            <a style="color: deepskyblue" href={{ url_for("signup") }}>Create One</a>
        </p>`
    </form>

{% endblock %}