{# PAGE USED TO BROADCAST LIVE FEED #}
{% extends 'parent_template.html' %}

{% block app_content %}

    <link rel="stylesheet" type="text/css" href="../static/css/lightbox.css"/>

    <div class="container">
        <blockquote class="blockquote text-center text-white">
            <div>
                <h1 class="display-4">Live Feed:</h1>
            </div>
        </blockquote>
    </div>

    <div class="text-center">
        <a href="{{ url_for('video_feed') }}" data-lightbox="gallery">
            <img class="img-fluid ml-lg-5" src="{{ url_for('video_feed') }}" alt="Responsive image">
        </a>
    </div>


    <script src="../static/Javascript/jquery-3.3.1.min.js"></script>
    <script src="../static/Javascript/lightbox.js"></script>


{% endblock %}
