{# PAGE WITH CONTACT INFO #}

{% extends "template.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static',  filename='css/contactus.css') }}">
{% endblock %}

{% block content %}
    <h1 style="color: white">Contact Us:</h1>
    <div class="container">
      <form action="action_page.php">

        <input type="text" id="fname" name="firstname" placeholder="First Name">


        <input type="text" id="lname" name="lastname" placeholder="Last Name">


        <input type="text" id="email" name="email" placeholder="Email">


        <textarea id="subject" name="subject" placeholder="Write something..." style="height:200px"></textarea>

        <input style="" type="submit" value="Submit">

      </form>
    </div>
{% endblock %}