{% extends 'Stargazer_website.html' %}

{% block weathernavbar %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                {% for day in weatherlinks %}
                    {% if currentday == day %}
                        <a class="nav-item nav-link active ml-2"
                           href="{{ url_for("weather", day=day) }}">{{ weatherlinks[day] }}<span
                                class="sr-only">(current)</span></a>
                    {% else %}
                        <a class="nav-item nav-link ml-2"
                           href="{{ url_for("weather", day=day) }}">{{ weatherlinks[day] }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </nav>

{% endblock %}

{% block weather_content %}
    <div class="jumbotron"
         style="background-image: url('{{ url_for("static", filename="images/thunderstorm-3441687_1920.jpg") }}');-webkit-background-size: cover;
                 -moz-background-size: cover; background-size: cover; -o-background-size: cover; color:white">


        <p>
            Last Updated: {{ weather.date_stored.strftime('%A, %b %d @ %I:%M:%S %p') }}
            <button type="button" class="btn btn-info" href="{{ url_for("update") }}">
                <a style="text-decoration: none; color: white" href="">update</a>
            </button>
        </p>

        <p>Sunrise: {{ weather.sunrise.strftime('%I:%M %p') }} </p>
        <p>Sunset: {{ weather.sunset.strftime('%I:%M %p') }} </p>
        <p>Temperature: {{ weather.high }} &#176;F</p>
        <p>Moon Phase: {{ weather.m_phase }}</p>
        <p>Cloud Coverage: {{ weather.clouds }} %</p>
        <p>Winds: {{ weather.wind }} mph</p>
        <p>Wind Direction: {{ weather.wind_dir }}</p>
        <p>Visibility: {{ weather.vis }} miles</p>
        <p>Current Condition: {{ weather.current }}</p>
        <p>Powered by Dark Sky</p>
    </div>
{% endblock %}

{% block OOI_content %}
<table class="table table-striped table-dark table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Event</th>
      <th scope="col">Time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>{{ object1.type }}</td>
      <td>{{ object1.vis_start }}</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>{{ object2.type }}</td>
      <td>{{ object2.vis_start }}</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>{{ object3.type }}</td>
      <td>{{ object3.vis_start }}</td>
    </tr>
	<tr>
      <th scope="row">4</th>
      <td>{{ object4.type }}</td>
      <td>{{ object4.vis_start }}</td>
    </tr>
	<tr>
      <th scope="row">5</th>
      <<td>{{ object5.type }}</td>
      <td>{{ object5.vis_start }}</td>>
    </tr>
  </tbody>
</table>
{% endblock %}
