{# PARENT TEMPLATE #}

<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title>{{ title }} - Stargazer</title>
        {% else %}
        <title>Welcome to Stargazer</title>
        {% endif %}
        {#<link rel="stylesheet" href="{{ url_for('static',  filename='css/template.css') }}">#}
    </head>

    {# SETS BACKGROUND PICTURE #}
    <body style="background-image: url('/static/images/backgroundSite1.jpg'); background-repeat: no-repeat; background-size: cover;">
        <div>
            {# CREATES DESIRED BUTTON #}
            {% if buttons %}
                {% for link, name in buttons %}
                <button style="background-color: black; border-color: white;">
                    <a style="color: white; text-decoration: none" href={{ url_for(link) }}>{{ name }}</a>
                </button>
                {% endfor %}
            {% endif %}
        </div>
        <hr>
        {% block content %}
        {% endblock %}
    </body>
</html>