.gallery{
  height: 80%;
  width: 100%;
  display: flex;
  margin: 5% auto 0;
  box-sizing: border-box;
}
.image-box{
  margin: 0 0%;
  flex-grow: 1;
  flex-basis: 0;
  transition: .5s;
}
/*set size og image/image-box*/
.image-box img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .5s;
}
/*makes the image get big when you move your mouse over it*/
.image-box:hover{
  flex-basis: 50%;
}
.active{
  flex-basis: 50%;
}
.galler:hover .active{
  flex-basis: 0;
}
.image-box:nth-child(1):hover{
  flex-basis: 50%;
}
