{% extends "parent_template.html" %}

{% block app_content %}
    <header class="bg-info text-center py-1 mb-4">
        <div class="container">
            <h1 class="font-weight-light text-white"><strong> Purpose </strong></h1>
            <p class="font-weight-light">
                The goal of the project is to design a fully functional web app to be used by astronomers and stargazing
                hobbyists.
            </p>
        </div>
    </header>


    <!-- Section: Magazine v.3 -->
    <section class="magazine-section my-5">
        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-lg-4 col-md-14 mb-lg-0 mb-5">
                <!-- Featured news -->
                <div class="single-news mb-3">
                    <!-- Image -->
                    <div class="view overlay rounded z-depth-2 mb-4">
                        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/86.jpg"
                             alt="Sample image">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Title -->
                    <div class="d-flex justify-content-between">
                        <div class="col-11 text-truncate pl-0 mb-3 ml-4">
                            <button style="color: black" class="btn btn-primary font-weight-bold btn-lg btn-block">Dark
                                Sky API
                            </button>
                        </div>
                        <a><i class="fas fa-angle-double-right"></i></a>
                    </div>

                </div>
                <!-- Featured news -->

                <!-- Small news -->
                <div class="single-news mb-3">

                    <!-- Title -->
                    <div class="d-flex justify-content-between">
                        <div class="col-11 text-truncate pl-0 mb-3 ml-4">
                            <div class="alert alert-primary" role="alert">
                                Request Weather Data
                            </div>
                        </div>
                        <a><i class="fas fa-angle-double-right"></i></a>
                    </div>

                </div>
                <!-- Small news -->

                <!-- Small news -->
                <div class="single-news mb-3">

                    <!-- Title -->
                    <div class="d-flex justify-content-between">
                        <div class="col-11 text-truncate pl-0 mb-3 ml-4">
                            <div class="alert alert-primary" role="alert">
                                Location Based Statistics
                            </div>
                        </div>
                        <a><i class="fas fa-angle-double-right"></i></a>
                    </div>

                </div>
                <!-- Small news -->

                <!-- Small news -->
                <div class="single-news mb-3">

                    <!-- Title -->
                    <div class="d-flex justify-content-between">
                        <div class="col-11 text-truncate pl-0 mb-3 ml-4">
                            <div class="alert alert-primary">
                                Accurate Weather Info
                            </div>
                        </div>
                        <a><i class="fas fa-angle-double-right"></i></a>
                    </div>

                </div>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-4 col-md-6 mb-md-0 mb-5">

                <!-- Featured news -->
                <div class="single-news mb-3">

                    <!-- Image -->
                    <div class="view overlay rounded z-depth-2 mb-4">
                        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/31.jpg"
                             alt="Sample image">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Title -->
                    <div class="d-flex justify-content-between">
                        <div class="col-11 text-truncate pl-0 mb-3 ml-4">
                            <button class="btn btn-warning font-weight-bold btn-lg btn-block">Live Camera Feed</button>
                        </div>
                        <a><i class="fas fa-angle-double-right"></i></a>
                    </div>

                </div>
                <!-- Featured news -->

                <!-- Small news -->
                <div class="single-news mb-3">

                    <!-- Title -->
                    <div class="d-flex justify-content-between">
                        <div class="col-11 text-truncate pl-0 mb-3 ml-4">
                            <div class="alert alert-warning">
                                Full-time Stream
                            </div>
                        </div>
                        <a><i class="fas fa-angle-double-right"></i></a>
                    </div>

                </div>
                <!-- Small news -->

                <!-- Small news -->
                <div class="single-news mb-3">

                    <!-- Title -->
                    <div class="d-flex justify-content-between">
                        <div class="col-11 text-truncate pl-0 mb-3 ml-4">
                            <div class="alert alert-warning">
                                Mounted Camera
                            </div>
                        </div>
                        <a><i class="fas fa-angle-double-right"></i></a>
                    </div>

                </div>
                <!-- Small news -->

                <!-- Small news -->
                <div class="single-news mb-3">

                    <!-- Title -->
                    <div class="d-flex justify-content-between">
                        <div class="col-11 text-truncate pl-0 mb-3 ml-4">
                            <div class="alert alert-warning">
                                Analyzes the Night Sky
                            </div>
                        </div>
                        <a><i class="fas fa-angle-double-right"></i></a>
                    </div>

                </div>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-4 col-md-6 mb-0">

                <!-- Featured news -->
                <div class="single-news mb-3">

                    <!-- Image -->
                    <div class="view overlay rounded z-depth-2 mb-4">
                        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/52.jpg"
                             alt="Sample image">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>


                    <!-- Title -->
                    <div class="d-flex justify-content-between">
                        <div class="col-11 text-truncate pl-0 mb-3 ml-4">
                            <button style="color: black" class="btn btn-danger font-weight-bold btn-lg btn-block">Social Platform
                            </button>
                        </div>
                        <a><i class="fas fa-angle-double-right"></i></a>
                    </div>

                </div>
                <!-- Featured news -->

                <!-- Small news -->
                <div class="single-news mb-3">

                    <!-- Title -->
                    <div class="d-flex justify-content-between">
                        <div class="col-11 text-truncate pl-0 mb-3 ml-4">
                            <div class="alert alert-danger">
                                Create/Delete Accounts
                            </div>
                        </div>
                        <a><i class="fas fa-angle-double-right"></i></a>
                    </div>

                </div>
                <!-- Small news -->

                <!-- Small news -->
                <div class="single-news mb-3">

                    <!-- Title -->
                    <div class="d-flex justify-content-between">
                        <div class="col-11 text-truncate pl-0 mb-3 ml-4">
                            <div class="alert alert-danger">
                                Like/Dislike Images
                            </div>
                        </div>
                        <a><i class="fas fa-angle-double-right"></i></a>
                    </div>

                </div>
                <!-- Small news -->

                <!-- Small news -->
                <div class="single-news mb-3">

                    <!-- Title -->
                    <div class="d-flex justify-content-between">
                        <div class="col-11 text-truncate pl-0 mb-3 ml-4">
                            <div class="alert alert-danger">
                                Provide Comments/Concerns
                            </div>
                        </div>
                        <a><i class="fas fa-angle-double-right"></i></a>
                    </div>

                </div>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </section>
    <!-- Section: Magazine v.3 -->

    <!-- Header -->
    {# Creates header #}
    <header class="bg-info text-center py-5 mb-4">
        <div class="container">
            <h1 class="font-weight-light text-white">Meet the Team</h1>
        </div>
    </header>

    {# Creates Profile cards and adds profile images #}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="card border-0 shadow">
                    <img src="../static/profile_images/Alex.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0 text-black-50">Alex Faucheux</h5>
                        <div class="card-text text-black-50">Project Manager/Developer</div>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card border-0 shadow">
                    <img src="../static/profile_images/Ammar.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0 text-black-50">Ammar Essajee</h5>
                        <div class="card-text text-black-50">Front-end Software Developer</div>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card border-0 shadow">
                    <img src="../static/profile_images/Rad.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0 text-black-50">Jason Myles</h5>
                        <div class="card-text text-black-50">Back-end Software Developer</div>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card border-0 shadow">
                    <img src="../static/profile_images/John.png" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0 text-black-50">John Chung</h5>
                        <div class="card-text text-black-50">Front-end Software Developer</div>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card border-0 shadow">
                    <img src="../static/profile_images/Jon.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0 text-black-50">Jonah Landry</h5>
                        <div class="card-text text-black-50">Back-end Software Developer</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
