{% extends "parent_template.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block CSS %}
    <link rel="stylesheet" type="text/css" href="../../static/css/login.css"/>
{% endblock %}


{% block app_content %}

    <body>
    <form method="post" role="form" novalidate>
        {{ form.hidden_tag() }}
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                    <div style="background-color: whitesmoke" class="card card-signin my-5">
                        <div class="card-body">
                            <h5 style="color: #252525" class="card-title text-center">Account Settings</h5>
                            <div style="color: #484848">
                                {{ wtf.form_errors(form, hiddens="only") }}
                                {{ wtf.form_field(form.new_username) }}
                                {{ wtf.form_field(form.new_password) }}
                                {{ wtf.form_field(form.confirm_password) }}
                                {{ wtf.form_field(form.current_password) }}
                            </div>
                            {{ wtf.form_field(form.submit, class="btn btn-lg btn-primary btn-block") }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</form>
		<div class="container text-center" style="color:black">
		<button type="button" class="btn btn-danger text-center" data-toggle="modal" data-target="#exampleModalCenter">
			Delete Account
		</button>
		</div>
		<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle" style="color:black">Account Deletion</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p style="color:black">Are you sure you want to delete your account? This cannot be undone.</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<a href="{{ url_for('auth.delete') }}" class="btn btn-danger" role="button">Delete Account</a>
					</div>
				</div>
			</div>
		</div>
    </body>
{% endblock %}
