{# PARENT TEMPLATE #}
{% extends 'base_template.html' %}

{% block navbar %}
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light" id="main_nav">

        <a class="navbar-brand" href="{{ url_for('main.home') }}">Stargazer</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-test"
                aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-collapse-test">
            {# CREATES DESIRED BUTTONS #}
            {% with links = {'main.about': 'About', 'main.home': 'Weather', 'main.images': 'Images', 'main.live_feed': 'Live Feed',
            'main.contact': 'Contact Us','auth.login': 'Login', 'main.profile': 'Profile', 'main.account': 'Account Settings', 'auth.logout': 'Logout'} %}
                {# links is a dictionary with link:name pair, where "link" is the name of the view function in routes.py #}
                <div class="navbar-nav mr-auto">
                    {% for link in links %}
                        {% if link != 'auth.login' and link != 'auth.logout' and link != 'main.account' and link != 'main.profile' %}
                            {% if title == links[link] %}
                                <a class="nav-item nav-link active" href="{{ url_for(link) }}">{{ links[link] }}<span
                                        class="sr-only">(current)</span></a>
                            {% else %}
                                <a class="nav-item nav-link" href="{{ url_for(link) }}">{{ links[link] }}</a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="navbar-nav">
                    {% for link in links %}
                        {% if link == 'auth.login' or link == 'auth.logout' or link == 'main.account' or link == 'main.profile' %}
                            {% if (link == 'auth.login' and current_user.is_anonymous) or (link == 'main.profile' and current_user.is_authenticated) %}
                                {% if link != 'main.profile' %}
                                    <a class="nav-item nav-link" href="{{ url_for(link) }}">{{ links[link] }}</a>
                                {% else %}
                                    {# dropdwon menu for profile button #}
                                    <div class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            {{ current_user.fname }} {{ current_user.lname }}
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item"
                                               href="{{ url_for('main.profile', username=current_user.username) }}">Profile</a>
                                            <a class="dropdown-item" href="{{ url_for('main.account') }}">Account
                                                Settings</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="{{ url_for('auth.logout') }}">Logout</a>
                                        </div>
                                    </div>

                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endwith %}
        </div>
    </nav>

{% endblock %}

{% block content %}
    <div class="jumbotron text-white body-particles">
        <div id="particles-js"></div>
        <div id="overlay">
            {# Used to display flashed messages from routes.py. No real use except for debugging and error handling #}
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-info" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            {# Block for child templates to insert their code in #}
            {% block app_content %} {% endblock %}
        </div>


    </div>

    {# javascript block #}
    {% block JS %}
    {% endblock %}
{% endblock %}


