{# PAGE USED TO BROADCAST LIVE FEED #}
{% extends 'parent_template.html' %}

{% block app_content %}

    <div class="container">
        <blockquote class="blockquote text-center text-white">
            <div>
                <h1 class="display-4">Live Feed:</h1>
            </div>
        </blockquote>
    </div>

    <style>
        #container {
            margin: 0px auto;
            width: 500px;
            height: 375px;
            border: 10px #333 solid;
        }

        #videoElement {
            width: 500px;
            height: 375px;
            background-color: #666;
        }
    </style>


    <div id="container">
        <video autoplay="true" id="videoElement">

        </video>
    </div>
    <script>
        var video = document.querySelector("#videoElement");

        if (navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia({video: true})
                .then(function (stream) {
                    video.srcObject = stream;
                })
                .catch(function (err0r) {
                    console.log("Something went wrong!");
                });
        }
    </script>

    {% if not HEROKU %}
        <div class="text-center">
            <a href="{{ url_for('main.video_feed') }}" data-lightbox="gallery">
                <img class="img-fluid ml-lg-5" src="{{ url_for('main.video_feed') }}" alt="Responsive image">
            </a>
        </div>
    {% endif %}

{% endblock %}
