{# HOME PAGE #}

{% extends "parent_template.html" %}

{% block app_content %}
    <style>
        @media (min-width: 1200px) {
            #Weather.col-lg {
                max-width: 800px;
            }

            #OOI.col-lg {
                max-width: 400px;
                margin-left: 50px;
            }
        }
    </style>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg" id="Weather">
                <h3 class="text-center">Ruston Weather</h3>
                {% block weathernavbar %}{% endblock %}
                {% block weather_content %}{% endblock %}
            </div>
            <div class="col-lg" id="OOI">
                <h3 class="text-center">Objects of Interest</h3>
                {% block OOI_content %}
                {% endblock %}
            </div>
        </div>
    </div>

{% endblock %}
